.contact-link {
    text-decoration: none;
    color: black;
} 

.contact-item{
    display: flex;
    background-color: #111B21;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 100px;
    
}

.contact-item .dato {
    flex: 1;
    overflow: hidden;
    
}
.contact-item .name {
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
    margin-left: 15px;
}

.contact-item .time {
    margin-right: 8px;
    font-size: 15px;
    color: #e5ddd5;
}
.img{
    width: 70px;
    border-radius: 50px;
}