
/* Variables de Navegador Chat */
:root{
    --ColorText: #888;

}

.container-msj {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  padding-top: 0; 
  margin-top: 20px;
 
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ColorText);
  border-radius: 10px;
  border: 2px solid transparent;
}

/*  Responsive MediaQuery */

/* Desktop / TV / Laptop */
@media (max-widht: 1200px) {
  .container-msj {
   height: 100vh;
    margin-top: 100px;
  }
}
/* Tablet */
@media (max-widht: 992px) {
  .container-msj {
    height: 100vh;
    margin-top: 150px;
  }
}

/* Mobile horizontal*/
@media (max-widht: 768px) {
  .container-msj {
    height: 100vh;
    top: 100px;
  }
}

/* Phone */

@media (max-widht: 320px) {
  .container-msj {
    height: 100vh;
   margin-bottom: 50%;
  }
}