.contact-header {
  display: flex;
  align-items: center;
  background-color: #035C55;
  color: white;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  transition: all 0.3s ease;
  position: fixed;

}

.contact-header .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-header .logo {
  font-weight: bold;
  font-size: 25px;
}

.contact-header .logo-icons {
  font-weight: bold;
  font-size: 30px;
}

.contact-header .icons svg {
  cursor: pointer;
  font-size: 30px;
  width: 30px;
}

.contact-header .icons svg:hover {
  color: #4fd24d;
}

.contact-header.search-visible .form-busqueda {
  display: flex;
  width: 92%;
  margin-top: 0.5rem;
  margin-right: 0;

}

.modal {
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #1E2A32;
}

.overlay {
  position: fixed;
  float: right;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.541);

}

.modal-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.close-button:hover {
  color: red;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  color: white;

}

.subtitle {
  cursor: pointer;
}

.icons-arrow {
  width: 15px;
  height: 15px;
  font-size: 5px;
  color: #4fd24d;
  cursor: pointer;
  position: relative;
  right: 10px;

}

/* Media Queries */

/* Desktop */
@media (max-width: 1200px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 10px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }
}

/* Horizontal */
@media (max-width: 768px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }
  .contact-header .icons {
    font-size: 10px;
    display: flex;
    gap: 5px;
  }
   .icons svg {
    font-size: 30px;
    cursor: pointer;
    font-size: 15px;
    width: 30px;
  }
  .contact-header .logo-icons {
    font-size: 30px;
  }
  .contact-header .logo {
    font-size: 25px;
  }
}

/* Phone */
@media (max-width: 320px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }

  .contact-header .icons {
    font-size: 10px;
    display: flex;
    gap: 5px;
   
  }

  .contact-header .icons svg {
    cursor: pointer;
    font-size: 30px;
    width: 30px;
  }

  .contact-header .logo-icons {
    font-size: 20px;
  }

  .contact-header .logo {
    font-size: 20px;
  }
}